
  #labels>div:hover {
    color: rgb(177, 136, 194);
  }

  #info {
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0px;	
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
	z-index: 100; /* TODO Solve this in HTML */
}

ul { 
    display: inline; 
}

body {
	background-color: #000;
	color: #fff;
	margin: 0px;
	font-size: 13px;
	line-height: 24px;
	height: 100%;
	overscroll-behavior: none;
}

a {
	padding-top: 0px;
	margin: 30px;
	font-family: "Courier New";
	padding-left: 0px;
	margin-bottom: 50px;
	color: rgb(177, 136, 194);
	text-decoration: none;
}
p {
	margin: 30px;
}

a:hover {
	text-decoration: underline;
    font-weight: bolder;
    color: rgb(177, 136, 194);
}

a, button, input, select, p {
	pointer-events: auto;
}


@media only screen and (max-width: 800px) {
	body {
	
		background-color: #000;
		color: #fff;
		font-family: Monospace;
		font-size: 24px;
		line-height: 24px;
		overscroll-behavior: none;
	}
	

	a {
		padding-top: 50px;
		margin-bottom: 50px;
		padding-left: 25px;
		margin-top: 200px;
		
		color: rgb(177, 136, 194);
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
		font-weight: bolder;
		color: rgb(177, 136, 194);
	}
  }